.logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

body {
  background-color: #F5EABB;
  padding: 20px;
  font-family: "Cormorant Garamond", serif;
}

header {
  position: relative;
  text-align: center;
  padding-top: 60px;
}

.ota_yhteytta {
  display: flex;
  justify-content: center;
  padding: 4%;

}

.ota_yhteytta h1 {
  font-size: 47px;
}

.ghfj {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}


.ota_yhteytta_p {
  text-align: left;
  margin-left: -5px;
  font-size: 20px;
}

/*footer {
  font-family: otsikko, "sans serif";
  font-size: 18px;
  color: #FFFF;
  background-color: #481D01;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
  text-align: center;
}*/

}

.message-box {
  margin: 20px auto;
}

.message-box textarea {
  height: 200px;
  padding: 10px;
  border: 2px solid #481D01;
  border-radius: 8px;
  font-size: 16px;
  width: 80%;
}

.message-box textarea:focus {
  border-color: #D41E00;
  outline: none;
}

.submit-button {
  display: inline-block;
  background-color: #481D01;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.submit-button:hover {
  background-color: #D41E00;
}

textarea {
  margin-bottom: 10px;

}