:root {
  --primary-color:#F5EABB;
  --color1: #481D01;
  --color2: #FFFFFF;
  --color3: #D41E00;
  --color4: #F5631A;
  --color5: #481d01b5;
}
*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
}
body {
  background-color: var(--primary-color);
}
img {
  max-width: 100%;  
  display: block;
}
h1, h2, h3, h4, h5, h6, p {
  word-wrap: break-word;
}
a, button  {
  cursor: pointer;
}

/* header */
.header-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;  
  justify-content: space-around;
  margin: 1.5vh;
  gap: 20px;
}
.header-logo {

}
.logo {
  width: 17vh; 
}
nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
nav a {
  color: var(--color1);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: solid 2px var(--color3);
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  transition-duration: 0.6s;
  margin: 15px;
}
nav a:hover {
  background-color: var(--color3);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
nav a:active {
  transform: translateY(6px);
}
#valittu {
  background-color: var(--color3);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.header-main {
  position: relative;
  display: flex;
  justify-content: center;
}
.banner-desktop {
  display: block;
}
.banner-mobile {
  display: none;
}
.cta {
  position: absolute;
  top: 30%;
  left: 55%;
  width: 45%;
  text-align: center;
}
.cta h1 {
  color: white;
  font-size: 1.9em;
}
.cta p {
  color: white;
  font-size: 1.5em;
  margin-bottom: 8%;
}
.cta button {
  color: var(--color2);
  font-size: 1.5em;
  background-color: var(--color3);
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 8px;
  padding: 0.3rem 2rem;
  transition-duration: 0.6s;
}
.cta button:hover {
  background-color: var(--color2);
  color: var(--color3);
  font-weight: bold;
  border: solid 2px var(--color3);
}
.cta button:active {
  transform: translateY(6px);
}

/* main content */
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2%;
}
.description p {
  color: var(--color1);
  width: 80%;
  font-size: 24px;
  line-height: 1.6rem;
}
.middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
}
@media screen and (max-width: 1200px) {
  
  /* header */
  .cta {
    top: 15%;
    width: 38%;
  }
  .cta h1 {
    font-size: 1.3rem;
  }
  .cta p {
    font-size: 0.8em;
    margin-bottom: 8%;
  }
  .cta button {
  font-size: 0.8em;
  padding: 0.3rem 1.5rem;
  }

  /* main */
  .description p {
    width: 95%;
    font-size: 20px;
   }
}
@media screen and (max-width: 600px) {
 
  /* header */
  .header-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  nav a {
    margin: 0;
  }
  .banner-desktop {
    display: none;
  }
  .banner-mobile {
    display: block;
  }
  .cta {
    top: 15%;
    left: 16%;
    width: 70%;
    border: none;
    background-color: var(--color5);
    border-radius: 10px;
    padding: 15px 30px
  }
   .cta p {
    font-weight: bold;
   }

   /* main */
   span {
    display: none;
   }
}